.postsContainer{
    margin-top: 50px;
    padding: 0px!important;

}
.posts{
    border-radius: 15px;
    border: aliceblue 5px solid;
    background-color: #dfdfdf;
}
.postsArea{
    display: inline-block;
    width: 100%;
}
h3{
    text-align: center;
}
.buttonAdd{
    float: right;
}
.addPostTextarea{
    width: 100%;
}