.header {
    background-color: black;
    color: white;
    height: 50px;
}
.login{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 20px;
    margin-top:  -18px;
    float: right;
}
.loginButton{
    display: inline-block;
    margin-top:  -18px;
    margin-right: 10px;
    float: right;
}
.headerPhoto{
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-top:  -18px;
    margin-right: 10px;
    float: right;
}