.nav {
    background-color: #dfdfdf;
    padding: 20px;
}
.item a {
    color: white;
    text-decoration: none;

}
.item a.activeLink {
    color: green;
}

.containerNav {
    margin: 0 0 0 0;
}
.footer{
    padding-top: 300px;
}