.headImage{
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    text-align: center;
}
.contactsBlock .items{
    margin-top: 5px;
}

.statusText {
    text-align: center;
}
.content {
    margin-top: 10px;
}
.contacts{
    border-radius: 15px;
    border: aliceblue 5px solid;
    background-color: #dfdfdf;
}
.profileInfoContainer{
    margin-top: 20px;
}
.saveButton{
    margin-top: 15px;
}