.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;

    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    background-color: white;
}
@media (min-width: 768px) {
    .navbar-container {
        background-color: gray;
    }
    .navbar-container .navbar {
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }
    .navbar-container .navbar-collapse {
        align-items: flex-start;
    }
    .navbar-container .nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .navbar-container .navbar-nav {
        flex-direction: column !important;
        background-color: gray;
    }
}
.navbar-container{
    background-color: #dfdfdf;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 20px;
}
.sidebarMenu{
    width: 200px;
    height: 100%;
    max-height: 700px
}

