.dialogs {
    margin-top: 20px;
}

.dialogsItems .active{
    color: gold;
}
.dialogsItems {
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: aliceblue 1px solid;
}
.messages{
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: aliceblue 1px solid;
}
.message{

}

.addNewMessageButton{
    float: right;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}
.addNewMessageArea{
    display: inline-block;
    width: 90%;
    margin-top: 10px;
}
